#info-nutrient-space {
    display: flex;
    padding: 10px 0;
}

#info-nutrient-text {
    width: 200px;
    margin: 10px 0 auto 0;
}

#info-nutrient-list-space {
    display: flex;
    flex-direction: column;
    width: 795px;
    gap: 20px;
}

.info-nutrient-name-graph {
    display: flex;
    margin: 10px 5px 20px 5px;
}

.info-nutrient-name {
    display: flex;
    align-items: center;
    min-width: 81px;
    max-width: 81px;
}

.info-nutrient-graph-space {
    width: 100%;
    padding: 10px 0;
    position: relative;
}