#info-form-space {
    display: flex;
    padding: 10px 0;
}

#info-form-text {
    width: 200px;
    margin: 10px 0 auto 0;
}

#info-form-ul {
    display: flex;
    padding-inline-start: 0px;
}

.info-form-li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-text {
    text-align: center;
    font-size: 13px;
    width: 70px;
}