#compare-nutrient-space {
    height: auto;
    padding: 10px 0;
}

#compare-nutrient-text {
    text-align: center;
}

.compare-nutrient-graph {
    display: flex;
    margin: 30px 5px 10px 5px;
    justify-content: center;
}

.compare-nutrient-graph-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
}

.compare-nutrient-graph-space {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    position: relative;
}