.compare-form-ul {
    display: flex;
    margin: auto;
    justify-content: center;
    flex: 1;
}

.compare-form-li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-text {
    text-align: center;
    font-size: 13px;
    width: 70px;
}