#compare-howtoeat-space {
    padding: 10px 0;
}

#compare-howtoeat-text {
    text-align: center;
}

#compare-each-howtoeat-space {
    display: flex;
    padding: 10px 0;

    width: auto;
}

.compare-howtoeat-description {
    display: flex;
    margin: auto;
    justify-content: center;
    flex: 1;

    padding: 0 40px;
}