/* .compare-nutrient-range {
  box-sizing: border-box;

  position: absolute;
  width: 350px;
  height: 20px;

  border: 1px solid #a7a7a7;
  border-radius: 50px;

  left: 38px;
  top: 0px;

  z-index: 1;
}

.compare-today-range {
  box-sizing: border-box;

  position: absolute;
  height: 20px;

  background-color: transparent;
  border: 1px solid #a7a7a7;

  left: 38px;
  top: 0px;

  z-index: 4;
}

.compare-nutrient-content {
  box-sizing: border-box;

  position: absolute;
  height: 20px;

  background-color: #ff5c35;
  border: 1px solid #a7a7a7;

  left: 38px;
  top: 0px;

  z-index: 2;
}

.info-nutrient-range {
  box-sizing: border-box;

  position: absolute;
  width: 700px;
  height: 20px;

  border: 1px solid #a7a7a7;
  border-radius: 50px;

  left: 38px;
  top: 0px;

  z-index: 1;
}

.info-today-range {
  box-sizing: border-box;

  position: absolute;
  height: 20px;

  background-color: transparent;
  border: 1px solid #a7a7a7;

  left: 38px;
  top: 0px;

  z-index: 4;
}

.info-nutrient-content {
  box-sizing: border-box;

  position: absolute;
  height: 20px;

  background-color: #ff5c35;

  left: 38px;
  top: 0px;

  z-index: 2;
}

.nutrient-content-text {
  position: absolute;
  font-weight: bolder;
  left: 85%;
  top: 30px;
}

.nutrient-today-text {
  position: absolute;
  font-weight: bolder;
  left: 95%;
  top: 30px;
} */
.compare-nutrient-range,
.compare-today-range,
.compare-nutrient-content,
.info-nutrient-range,
.info-today-range,
.info-nutrient-content {
  box-sizing: border-box;
  position: absolute;
  height: 20px;
  left: 38px;
  top: 0px;
}
.progress-bar {
  color: black !important;
  font-size: 18px !important;
  font-weight: bold !important;
}
.progress-bar-animated {
  animation: progress-bar-stripes 1s linear infinite;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
