.top-bar {
  width: 100%;
  padding: 20px 0;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: orange;
  border: none;
  background-color: white;
  padding: 0;
  margin-bottom: 0;
}

.btn-outline-orange {
  font-weight: bold;
  color: orange;
  padding: 0.5rem 1rem;
  font-size: 1.2em;
}

.btn-warning {
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
