.accountTitle {
  font-size: 30px;
}
.accountSpecMain {
  width: 50vw;
  height: 200px;
  border-top-style: solid;
  border-top-color: grey;
}
.accountSpecText {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}
