.surveyMainBorder {
  width: 100%;
  margin-top: 90px;
  height: 610px;
  display: flex;
}
.surveyMainTextTitle {
  margin-top: 0px;
  font-size: 30px;
  white-space: pre-wrap;
}
.surveyMainText {
  text-size-adjust: 30;
  font-size: 20px;
  white-space: pre-wrap;
}
.surveyMainButtonArea {
  width: 700px;
  margin-left: auto;
  overflow-x: visible;
  overflow-y: auto;
}
