#info-intro-section {
    display: flex;
    gap: 132px;
    width: 1280px;
    height: 411px;

    margin: 30px auto 30px auto;
}

#info-image-space {
    border: 1px solid;
    border-radius: 10px;

    width: 411px;
    height: auto;
    padding: 77px;
}

#info-image {
    width: 255px;
    height: 255px;
}

#info-intro-space {
    width: 737px;
    height: 411px;
}

#name-description-space {
    width: 737px;
    height: 217px;
}

#name-wish-space {
    display: flex;
    width: 737px;
    height: 36px;
    margin-bottom: 10px;
    justify-content: space-between;
}

#info-vita-name {
    font-size: larger;
    font-weight: bold;
    white-space: nowrap;
}

#vita-category {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.category-block {
    border-radius: 50px;
    width: auto;
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
}

.category-food {
    background-color: #f9a828;
}

.category-health-food {
    background-color: #48b983;
}

.category-nutrient {
    background-color: #7d8ae6;
}

.category-etc {
    background-color: #c5428b;
}

.category-msm {
    background-color: #e1c61f;
}

.category-diet {
    background-color: #2f8eab;
}

.category-collagen {
    background-color: #d4604f;
}

.category-calcium {
    background-color: #8d56b4;
}

.category-omega3 {
    background-color: #4b8a29;
}

.category-vitamin {
    background-color: #7b8f54;
}

.category-multi-vitamin {
    background-color: #9d5e2b;
}

.category-probiotics {
    background-color: #5f7499;
}