#info-details-section {
    border: 1px solid;
    margin-top: 32px;
    width: 1280px;

    background: rgba(255, 239, 235, 0.2);
    border: 1px solid #000000;
    border-radius: 10px;

    margin: 30px auto 30px auto;
}

#info-detail-text {
    text-align: center;
    margin-top: 32px;
}

#info-details-space {
    margin: 20px 109px 32px 109px;
}