.topBarLong {
  background-color: white;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  box-shadow: 0px 0px 8px rgb(105, 105, 105);
  z-index: 9999;
}
.topMainLong {
  width: 85%;
  height: 100px;
  margin: auto;
  align-content: center;
  display: flex;
}
.topMainLongFix {
  width: 1000px;
  height: 100px;
  margin: auto;
  align-content: center;
  display: flex;
}
.topBarLPageButton {
  height: 100%;
  width: 200px;
  font-size: 50px;
  background-color: white;
  border: none;
  color: orange;
  cursor: pointer;
}
.topBarLPageSearchBorder {
  width: 50%;
  height: 50%;
  border: 4px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  align-self: center;
}
.topBarLPageSearch {
  font-size: 25px;
  position: relative;
  left: 16px;
  width: 93%;
  height: 95%;
  align-self: center;
  border: none;
  outline: none;
  background-color: transparent;
}
.topBarLCompareButton {
  height: 100px;
  width: 150px;
  font-size: 24px;
  background-color: white;
  border: none;
  color: orange;
  text-align: center;
  cursor: pointer;
}
.topBarLLoginButton {
  height: 100%;
  width: 150px;
  font-size: 30px;
  background-color: white;
  border: none;
  color: orange;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.topBarLLoginButtonMyPage {
  height: 100%;
  width: 170px;
  font-size: 24px;
  background-color: white;
  border: none;
  color: orange;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
