#compare-details-section {
    background: rgba(255, 239, 235, 0.2);
    border: 1px solid #000000;
    border-radius: 10px;

    margin: 30px auto 30px auto;
    width: 1280px;
}

#compare-details-title {
    display: flex;
    gap: 30px;
    margin: 32px 0px;
    justify-content: center;
}

#compare-button-space {
    width: auto;
    height: auto;
    margin-top: 30px;
}

#compare-button {
    width: 1278px;
    height: 60px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    background-color: #ff8667;
    font-size: large;
    color: white;
    font-weight: bold;
    cursor: pointer;
}