.loginPageMain {
  width: 600px;
  margin: auto;
  margin-top: 100px;
}
.loginPageBox {
  width: 400px;
  height: 50px;
  margin: auto;
  display: flex;
}
.loginPageInput {
  width: 400px;
  height: 40px;
  font-size: 30px;
}
.loginPageButton {
  height: 40px;
  width: 400px;
  margin-left: 100px;
  background-color: orange;
  border-radius: 10px;
  border-style: none;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.loginPageIdSearchButton {
  color: grey;
  margin-left: 114px;
  font-size: 18px;
  margin-top: 10px;
  background: none;
  border-style: none;
  cursor: pointer;
}
.loginPagePassSearchButton {
  color: grey;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 25px;
  background: none;
  border-style: none;
  cursor: pointer;
}
.loginPageSignUpButton {
  color: grey;
  height: 30px;
  font-size: 18px;
  margin-left: 25px;
  text-align: center;
  background: none;
  border-style: none;
  cursor: pointer;
}
.loginPageLoginFalse {
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 10px;
  color: red;
}
