.signUpPageMain {
  width: 600px;
  margin-left: 35vw;
  margin-top: 200px;
}
.signUpPageBox {
  width: 600px;
  height: 50px;
  margin: auto;
  display: flex;
}
.signUpPagePassBox {
  width: 400px;
  height: 50px;
  display: flex;
}
.signUpPageInput {
  width: 400px;
  height: 40px;
  font-size: 20px;
}
.testHidden {
  font-size: 0px;
}
.testUnHidden {
  font-size: 20px;
  white-space: pre-line;
  text-align: left;
}
.signUpPageInputShort {
  width: 150px;
  height: 40px;
  font-size: 20px;
}
.signUpPageInputEmailBox {
  width: 200px;
  height: 40px;
  font-size: 20px;
}
.signUpPageInputEmailFont {
  font-size: 30px;
}
.signUpPageInputMonthDay {
  width: 120px;
  margin-left: 10px;
  height: 40px;
  font-size: 20px;
}
.signUpPageLoginButton {
  height: 30px;
  width: 100px;
  margin-left: 100px;
}
.signUpPageSignUpButton {
  height: 30px;
  width: 100px;
  background-color: orange;
  border-radius: 10px;
  border-style: none;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.signUpPageCheckBox {
  margin-bottom: 15px;
  width: 20px;
}
.signUpPageCheckBoxText {
  margin-top: auto;
  font-size: 20px;
  margin-right: 20px;
}
.signUpPageCheckTrue {
  position: absolute;
  font-size: 20px;
  text-align: center;
  margin-left: 410px;
  margin-top: 5px;
  color: chartreuse;
}
.signUpPageCheckShortFalse {
  position: absolute;
  font-size: 20px;
  margin-top: 5px;
  color: red;
  margin-right: auto;
}
.signUpPageCheckShortTrue {
  position: absolute;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  color: chartreuse;
}
.signUpPageCheckFalse {
  position: absolute;
  font-size: 20px;
  margin-left: 410px;
  margin-top: 5px;
  color: red;
  margin-right: auto;
}

.signUpPageCheckSignUpFalse {
  position: absolute;
  font-size: 20px;
  text-align: center;
  margin-left: 210px;
  color: red;
}
.signUpPageCheckSignUpTrue {
  position: absolute;
  font-size: 20px;
  text-align: center;
  margin-left: 210px;
  color: chartreuse;
}
